body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.taskTableRow {
  cursor: pointer;
}

.taskTableRow:hover {
  background-color: #e6f7ff; /* Hellblau */
}

.taskTableRow:hover {
  cursor: pointer; /* Ändert den Mauszeiger beim Überfahren */
}

.main-header {
  background-color: black;
  width: '100%';
}

.site-title {
  color: white
}

.nav-link,
.logout-button {
    color: white;
    font-weight: bold;
}

.nav-link-dropdown {
  color: black;
  font-weight: bold;
}

.profile-card {
  border: 2px solid #333; /* Border-Stil und Farbe */
  padding: 20px; /* Innenabstand */
  border-radius: 8px; /* Abrundung der Ecken */
  background-color: #f9f9f9; /* Hintergrundfarbe */
  margin-bottom: 10px;
  width: '50%';
}

.profile-card p {
  margin: 8px 0; /* Außenabstand oben und unten */
  font-size: 16px; /* Schriftgröße */
  color: #333; /* Textfarbe */
}
